<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表排序</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <input type="text" v-model="keyWord" placeholder="请输入要查找的姓名">
        <button @click="sortType = 2">点击升序</button>
        <button @click="sortType = 1">点击降序</button>
        <button @click="sortType = 0">原顺序</button>
        <h4>人员列表</h4>
        <ul>
            <!-- v-for="(a,b) in/of xxxx"  -->
            <li v-for="(p,index) of filPersons" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
    Vue.config.productionTip=false;//阻止vue在启动时生成生产提示
    const vm=new Vue({
        el:'#root',
        data(){
           return{
              persons:[
                    {id:'001',name:'马冬梅',age:31,sex:'女'},
                    {id:'002',name:'周冬雨',age:28,sex:'女'},
                    {id:'003',name:'周杰伦',age:18,sex:'男'},
                    {id:'004',name:'温兆伦',age:19,sex:'男'},
              ],
              keyWord:'',
              sortType:'',
           }
        },
        computed:{
            filPersons(){
                //模糊查询出来的数组赋给arr
                const arr=this.persons.filter((p)=>{
                    return p.name.indexOf(this.keyWord) !== -1
                })
                //判断升降序规则
                if(this.sortType){
                    // 此时p1,p2为对象
                    arr.sort((p1,p2)=>{
                        // 判断排序类型是否为降序，如果是则执行降序，否则执行升序
                        return this.sortType === 1 ? p2.age-p1.age : p1.age-p2.age
                    })
                }
                return arr
            }
        }
    })

    // js数组排序,返回a-b为升序，b-a为降序
    // let arr=[1,3,2,5,6,4]
    // arr.sort((a,b)=>{
    //     return a-b
    // })
    // console.log(arr)
    </script>
</body>
</html>