<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>更新时的一个问题</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <button @click="changeMei">马冬梅变马老师</button>
        <h2>人员列表</h2>
        <ul>
            <!-- v-for="(a,b) in/of xxxx"  -->
            <li v-for="(p,index) of persons" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
    Vue.config.productionTip=false;//阻止vue在启动时生成生产提示
    const vm=new Vue({
        el:'#root',
        data(){
           return{
              persons:[
                    {id:'001',name:'马冬梅',age:31,sex:'女'},
                    {id:'002',name:'周冬雨',age:28,sex:'女'},
                    {id:'003',name:'周杰伦',age:18,sex:'男'},
                    {id:'004',name:'温兆伦',age:19,sex:'男'},
              ],
           }
        },
        methods:{
            changeMei(){
                // this.persons[0].name='马老师',  //奏效
                // this.persons[0].age='50',  //奏效
                // this.persons[0].sex='男'  //奏效

                // this.persons[0]={id:'001',name:'马老师',age:50,sex:'男'} 不奏效

                // 原因，Vue对数组的监测原理是对数组的操作方法进行包裹，所以需要使用这几个方法才可以被Vue监测到，也可以用Vue.set
                this.persons.splice(0,1,{id:'001',name:'马老师',age:50,sex:'男'})

            }
        }
    })
    </script>
</body>
</html>