<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2.姓名案例_methods实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <!-- 使用v-model数据双向绑定 -->
        姓：<input type="text" v-model="firstName"><br/><br/>
        名：<input type="text" v-model="lastName"><br/><br/>
        <!-- fullName在这里必须加() -->
        全名：<span>{{fullName()}}</span>
    </div>
    <script type="text/javascript">
    Vue.config.productionTip=false;//阻止vue在启动时生成生产提示
    const vm=new Vue({
        el:'#root',
        data(){
           return{
              firstName:'张',
              lastName:'三'
           }
        },
        methods:{
            fullName(){
                console.log('调用了fullName方法')
                return this.firstName+'-'+this.lastName //此处this值vue实例对象
            }
        }
    })
    </script>
</body>
</html>