<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4.姓名案例_计算属性简写 </title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <!-- 使用v-model数据双向绑定 -->
        姓：<input type="text" v-model="firstName"><br/><br/>
        名：<input type="text" v-model="lastName"><br/><br/>
        全名：<span>{{fullName}}</span>
    </div>
    <script type="text/javascript">
    Vue.config.productionTip=false;//阻止vue在启动时生成生产提示
    const vm=new Vue({
        el:'#root',
        data(){
           return{
              firstName:'张',
              lastName:'三'
           }
        },
        computed:{
            // 常规写法
            // fullName:{
            //     get(){
            //         console.log('get被调用了');
            //         return this.firstName+'-'+this.lastName
            //     },
            //     set(value){
            //         const arr=value.split('-') //split根据当前分割符分割
            //         this.firstName=arr[0]
            //         this.lastName=arr[1]
            //     }
            // }

            // 简写,只读不写时可简写为函数形式，但切记引用时时引用计算属性
                fullName(){
                    console.log('get被调用了');
                    return this.firstName+'-'+this.lastName
                }
        }
    })
    </script>
</body>
</html>